#!/bin/sh
{{ ansible_managed | comment }}
#
#	/etc/init.d/cloud9
#
#	cloud9
#       Startup script for cloud9
#
# chkconfig: 2345 20 80
# description: cloud9

# Source function library.
if [ -f /etc/init.d/functions ] ; then
  . /etc/init.d/functions
fi

start() {
  echo -n "Starting cloud9: "
  returncode=$(daemon --user={{ cloud9_user }} /usr/bin/node {{ cloud9_installer }}/server.js -w {{ cloud9_workspace }} --listen {{ cloud9_bind_address }} -a {{cloud9_username }}:{{ cloud9_password }} &)
  touch /var/lock/subsys/cloud9
  return ${returncode}
}

stop() {
  echo -n "Shutting down cloud9: "
  returncode=$(pkill tmux)
  rm -f /var/lock/subsys/cloud9
  return ${returncode}
}

case "$1" in
  start)
    start
  ;;
  stop)
    stop
  ;;
  status)
    echo "not supported."
  ;;
  restart)
    stop
    start
  ;;
  reload)
    echo "not supported."
  ;;
    *)
  echo "Usage: <servicename> {start|stop|status|restart|reload}"
  exit 1
  ;;
esac

exit $?
