{{ ansible_managed | comment }}
[Unit]
Description=cloud9
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory={{ cloud9_installer }}

ExecStart=/usr/bin/node server.js -w {{ cloud9_workspace }} --listen {{ cloud9_bind_address }} -a {{ cloud9_username }}:{{ cloud9_password }}

User={{ cloud9_user }}
Group={{ cloud9_group }}

[Install]
WantedBy=multi-user.target
